body, html {
    height: 100%;
    margin: 0;
    background: url('bg.jpg') no-repeat center center fixed; 
    background-size: cover;
}

iframe {
    border: none;
}


#chatbot {
    width: 90%;
    height: calc(99% - 30%); /* Adjusted to start from 30% top until 1% from the bottom */
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
}

#headerImage {
    width: 100%; /* Use the full width to ensure visibility */
    height: 20vh; /* Adjust based on your needs to ensure the header is visible */
    background-image: url('HEADER.jpg');
    background-repeat: no-repeat;
    background-position: center; /* Center the image to simulate trimming from the top/bottom */
    background-size: auto 120%; /* Enlarge the background to simulate trimming from the sides */
    position: absolute;
    top: 0;
    left: 0;
}


#headerImage img {
    max-width: 80%;
    max-height: 5%;
    height: auto;
}

#logo1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 20vh; /* 10% of the viewport height */
    width: 20vh; /* Initially set to the same as height to maintain aspect ratio */
    background-image: url('ppp.png'); /* Path to your logo image */
    background-size: contain; /* Ensures the image fits within the div and maintains aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Centers the background image within the div */
}

#logo2 {
    position: fixed;
    top: 0;
    left: 90%;
    height: 20vh; /* 10% of the viewport height */
    width: 20vh; /* Initially set to the same as height to maintain aspect ratio */
    background-image: url('AGAM.png'); /* Path to your logo image */
    background-size: contain; /* Ensures the image fits within the div and maintains aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Centers the background image within the div */
}


#animatedHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4em; /* Assuming the initial size was 2em, now doubled */
    top: 20%; /* Adjusted to be below the header image */
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ensure other styles for animation and positioning remain unchanged */
}

